{
  "arrowParens": "avoid",
  "printWidth": 120,
  "semi": false,
  "parser": "typescript",
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "useTabs": true,
  "endOfLine": "auto"
}
